<!DOCTYPE html>
<html>
	<head>
		<title>Index Paises</title>
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
		<style>
		.coment{
			border:1px solid black;
			padding: 10px;
			width: 400px;
		}
		table, th, td {
    		border: 1px solid black;
		}
		td{
			text-align: center;
		}
		#btnPublicar{
			width: 100px;
			height: 100px;
		}
			
		</style>
		<script type="text/javascript">

			function inicializar(){

				btnBusqueda.addEventListener('click', function(event){
					var strBusqueda = inputBusqueda.value;
					if(!strBusqueda)
						return;
					console.log("el texto", strBusqueda);
					getResults(strBusqueda)
				});



			}
			
			function getResults(str){
				var xhr = new XMLHttpRequest();   // new HttpRequest instance 
				console.log("escapado", escape(str))
				xhr.open("GET", "/getResults?str=" + escape(str));
				xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
				xhr.addEventListener('load', function (event) {
					//se ha completado un guardado
					var result = JSON.parse(event.target.response);
					showResults(result.productos);
					console.log("el result", result);
				});
				xhr.send(null);
			}


			function showResults(results){
				//borra todo
				tableResults.innerHTML = '';
				//crea la cabezera
				var tr = document.createElement('tr');
				var thNombre = document.createElement('th');
				var thPrecio = document.createElement('th');
				thNombre.innerHTML = "Nombre";
				thPrecio.innerHTML = "Precio";
				tr.appendChild(thNombre);
				tr.appendChild(thPrecio);
				tableResults.appendChild(tr);
				//crea cada fila de la tabla
				for(var i=0; i< results.length; i++){
					var producto = results[i]
					var tr = document.createElement('tr');
					var tdNombre = document.createElement('td');
					var tdPrecio = document.createElement('td');
					tdNombre.innerHTML = producto.nombre;
					tdPrecio.innerHTML = producto.precio;
					tr.appendChild(tdNombre);
					tr.appendChild(tdPrecio);
					tableResults.appendChild(tr);
				}
			}

			window.addEventListener('load', inicializar, false);
			
		</script>
	</head>
	<body>
		
		<section>
			<h1>Busqueda de productos</h1>
			
			<div id="busqueda">
				<input type= "text" id="inputBusqueda" >
				<input type="button" id="btnBusqueda" value="Buscar">	
			</div>

			<div id="results">
				<table id="tableResults" style="width:100%">
				  <tr>
				    <th>Nombre</th>
				    <th>Precio</th> 
				  </tr>
				</table>
			</div>

		</section>
	
	</body>
</html>