<!DOCTYPE html>
<html>
	<head>
		<title>Index Paises</title>
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
		<style>
		.coment{
			border:1px solid black;
			padding: 10px;
			width: 400px;
		}
		#txtComentario{
			width: 300px;
			height: 100px;
		}
		#btnPublicar{
			width: 100px;
			height: 100px;
		}
			
		</style>
		<script type="text/javascript">

			function addComentario(text){
				var objTo = document.getElementById('comentarios')
    			var divComent = document.createElement("div");
    			divComent.innerHTML = "<div class='coment'> <p>" +text+ "</div> </p>"
    			objTo.appendChild(divComent)
			}

			
			function publicar(event){
				if(txtComentario.value!=""){
					addComentario(txtComentario.value);
					txtComentario.value="";
				}
			}

			function procesarComentarios(event){
				var respond = event.target.responseText;
				var conver = JSON.parse(respond);
				comentarios=conver.comentarios;
				console.log(comentarios);
				for (var i = 0; i < comentarios.length; i++) {
					addComentario(comentarios[i].texto);
				};
			}

			function getComentarios(){
				var url = "/getComentarios";
				var request = new XMLHttpRequest();
				request.addEventListener('load',procesarComentarios, false);
				request.open("GET",url, true);
				request.send(null);
			}

			function inicializar(){
				getComentarios();
			}


			window.addEventListener('load', inicializar, false);
			
		</script>
	</head>
	<body>
		
		<section>
			<h1>Publicaciones</h1>
			
			<div id="comentarios">	
			</div>

			<div>
				<textarea rows="4" cols="50" id="txtComentario"></textarea>
				<input type="button" id="btnPublicar" value="Publicar" onclick="publicar(event);">
			</div>

		</section>
	
	</body>
</html>